{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="content">
    <h2>Account Home Page</h2>
    <p class="block">Welcome back, {{ username }}!</p>
    <!-- <p>You're currently subscribed to tier {{ tier }}!</p> -->
    <script>
        // Get the value of 'tier' from the template
        const tier = '{{ tier }}';
        const token = '{{ token }}';
        // Create a new paragraph and button elements
        let pElement = document.createElement('p');
        pElement.classList.add('block');
        let buttonElement = document.createElement('button');
        buttonElement.textContent = 'Launch Application';
        // Use JavaScript to conditionally set the text content based on the 'tier' value
        if (tier == 0) {
            pElement.textContent = 'You are not subscribed, please contact us to upgrade your service\n';
            buttonElement.textContent = 'Email';
            buttonElement.addEventListener('click', function() {
                window.location.href = 'mailto:smithzachwilliam@gmail.com';
            });
        } else if (tier == 1) {
            pElement.textContent = 'You have access to Basic Analytics!\n';
            buttonElement.addEventListener('click', function() {
                window.location.href = 'https://paymentsvisualizer-5d34b3024a19.herokuapp.com/?token=' + token;
            });
        } else if (tier == 2) {
            pElement.textContent = 'You have access to Advanced Analytics!\n';
            buttonElement.addEventListener('click', function() {
                window.location.href = '/eaasyai';
            });
        } else if (tier == 3) {
            pElement.textContent = 'You have access to Expert Analytics!\n';
            buttonElement.addEventListener('click', function() {
                window.location.href = '/eaasyai';
            });
        } else {
            pElement.textContent = 'Subscription Error please Contact your Administrator';
        }
        pElement.appendChild(buttonElement);
        document.querySelector('.content').appendChild(pElement);
    </script>
</div>
{% endblock %}
